.artworks-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 6 picturi */
    gap: 20px;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
}

.grid-art-item {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.grid-art-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.grid-art-item img {
    width: 100%;
    height: 15rem;
    display: block;
    transition: filter 0.3s;
}

.grid-art-item img:hover {
    filter: brightness(0.9);
}

.grid-art-item p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

.pagination-btn {
    padding: 15px 35px;
    background-color: rgba(117, 111, 111, 0.82);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 12px rgba(190, 145, 62, 0.2);
}

.pagination-btn:hover {
    background-color: #555;
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(190, 145, 62, 0.4);
}

#page-number:hover {
    transform: scale(1.1);
}

#artist-name {
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.artist-info {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 5rem;
}

.artist-info img {
    border-radius: 50% / 40%;
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin-right: 20px;
}

.artist-info h1 {
    font-size: 2.5em;
    color: #333;
}

.heart-icon {
    color: gray;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;

}

.heart-icon:hover {
    transform: scale(1.3);
}

.heart-icon.favorite {
    color: red;
}

.heart-icon {
    color: #9b9a9a;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    animation-name: slide-in;
    animation-duration: 0.5s;
}

@keyframes slide-in {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal img {
    max-width: 90%;
    max-height: 70vh;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button:hover {
    color: #e74c3c;
}

.logo-container a {
    text-decoration: none;
    color: #333;
}