.artists-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.artist {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s;
}

.artist:hover {
    transform: scale(1.05);
}

.artist img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.artist p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.pagination-btn {
    padding: 15px 30px;
    background-color: rgba(117, 111, 111, 0.82);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.pagination-btn:hover {
    background-color: #555;
}

#page-number {
    font-size: 1.5em;
    color: white;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

.message-text {
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    margin-top: 14px;
    border-radius: 10px;
}


.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 700px;
    height: 85%;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 30px;
    transition: all 0.3s ease-in-out;

}

.close {
    color: #555;
    float: right;
    font-size: 28px;
    font-weight: normal;
    position: absolute; /* Absolute positioning to align properly */
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: color 0.2s;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.artmovements-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    flex: 1;
    overflow-y: scroll;
    padding-right: 10px;
}

.artmovements-grid div {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.artmovements-grid div:hover {
    transform: translateY(-5px);
}

.artmovements-grid label {
    margin-left: 10px;
    font-size: 14px;
    color: #666;
}
button {
    margin-top: 20px;
    text-decoration: none;
    padding: 15px 30px;    background-color: rgba(117, 111, 111, 0.82);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.2em;
    cursor: pointer;

}

button:hover {
    background-color: #555;
}
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        max-width: 90%;
        height: 80%;
        max-height: 80%;
        top: 20px;
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 100%;
        max-width: 100%;
        height: 75%;
        max-height: 75%;
        top: 10px;
    }

    .artmovements-grid {
        grid-template-columns: repeat(2, 1fr); /* Adjust grid for smaller screens */
    }
}