* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url('../img/login_.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*-------------menu---------------- */

#Menu_Container{
    overflow: hidden;
    position: absolute;
    top: 6rem;
    right: 0;
    margin-right: 0.5rem;
    width: 20%;
    height: auto;
    background-color: transparent;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    transform: translateX(100%);
    z-index: 9999;
}

.Button_Menu_Container{
    position: relative;
    width: 100%;
    height: 4rem;
    white-space: nowrap;
    font-size: 1.4rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 3rem;
    text-align: center;
    color: black;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Anonymous Pro', monospace;
}

.Button_Menu_Container:hover{
    background-color: white;
    border: 2px solid white;
}

@keyframes OpenMenu {
    0% {
        transform: translateX(100%);
        visibility: hidden;
    }
    1% {
        visibility: visible
    }
    100% {
        transform: translateX(0%);
        visibility: visible;
    }
}

@keyframes CloseMenu {
    0% {
        transform: translateX(0%);
        visibility: visible;
    }
    99% {
        visibility: visible
    }
    100% {
        transform: translateX(100%);
        visibility: hidden;
    }
}


/*-------------menu---------------- */

#Menu_Container{
    overflow: hidden;
    position: absolute;
    top: 6rem;
    right: 0;
    margin-right: 0.5rem;
    width: 20%;
    height: auto;
    background-color: transparent;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    transform: translateX(100%);
    z-index: 9999;
}

.Button_Menu_Container{
    position: relative;
    width: 100%;
    height: 4rem;
    white-space: nowrap;
    font-size: 1.4rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 3rem;
    text-align: center;
    color: black;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Anonymous Pro', monospace;
}

.Button_Menu_Container:hover{
    background-color: white;
    border: 2px solid white;
}

@keyframes OpenMenu {
    0% {
        transform: translateX(100%);
        visibility: hidden;
    }
    1% {
        visibility: visible
    }
    100% {
        transform: translateX(0%);
        visibility: visible;
    }
}

@keyframes CloseMenu {
    0% {
        transform: translateX(0%);
        visibility: visible;
    }
    99% {
        visibility: visible
    }
    100% {
        transform: translateX(100%);
        visibility: hidden;
    }
}

#search-painting
{
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    background-color: rgba(117, 111, 111, 0.82);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.2em;
    margin-bottom: 2rem;
    margin-left: 2rem;
}


.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 8rem;
}

.welcome-text {
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    margin-top: 14px;
    border-radius: 10px;
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0; /* ajustare pentru a face butoanele mai mici */
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a, .navbar ul li button {
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    background-color: rgba(117, 111, 111, 0.82);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.navbar ul li a:hover, .navbar ul li button:hover {
    background-color: #555;
}

.navbar .toggle-btn {
    cursor: pointer;
}

.top-navbar {
    justify-content: flex-end;
    background-color: rgba(150, 123, 88, 0.62);
    width: 100%; /* Ajustare pentru a se potrivi conținutului */
    padding-right: 5%;
    position: fixed;
    top: 0;
    z-index: 1000;
}



/*-----------------start-----------------------------------------*/


.art-item img {
    display: block;
    width: 100%;
    height: 20rem;
    align-items: center;
}

.art-item img:hover {
    transform: scale(1.1);
}

/*--------------------------finish--------------------------------*/

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 40px 0;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 10px;
    justify-content: center;
}

.art-item, .grid-art-item {
    position: relative;
    flex: 0 0 auto;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: width 0.3s ease-in-out;
    justify-content: center;
}

.art-item
{
    max-width: 300px;
    margin-right: 10px;
}

.grid-art-item
{
    margin-right: 10px;
    max-width: 300px;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 1000;
}

.art-item h3 {
    font-size: 1.5em;
}

.art-item p {
    font-size: 1em;
}



.prev-btn {
    margin-top: 13rem;
    left: 1rem;
}

.next-btn {
    right: 1rem;
    margin-top: 13rem;
}


.art-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 1500px;
}


.grid-art-item img {
    width: 100%;
    height: 20rem;
    display: block;
}

.art-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: start;
}

.pagination-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.pagination-btn {
    padding: 15px 30px;
    background-color: rgba(117, 111, 111, 0.82);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.pagination-btn:hover {
    background-color: #555;
}

#page-number {
    font-size: 1.5em;
    color: white;
    border-radius: 10%;
    background-color: rgba(117, 111, 111, 0.82);
    padding: 0.7rem;
}


/* CSS for Search Popup */
.search-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.search-popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.search-results {
    margin-top: 20px;
}




/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
    backdrop-filter: blur(5px); /* Blur the background */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.modal h3, .modal p {
    text-align: center;
}
body.modal-open {
    filter: blur(5px);
    overflow: hidden; /* Prevent background scrolling */
}

.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.favorite-btn i {
    font-size: 1.8em;
    color: #a9a6a6;
    transition: color 0.3s ease;

}
.favorite-btn i:hover{
    color: red;
}


.favorite-btn i.favorited {
    color: red;
}


/*  search bar and results */


#nav-search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(50% - 20px); /* Adjust the width to take half the screen minus some padding */
    position: relative; /* Ensure the search bar is positioned correctly */
    z-index: 1100; /* Set a higher z-index than the navbars */
}

.nav-search-container {
    display: none;
    position: absolute;
    left: 10px; /* Aligned with the button or another reference point */
    top: 20px; /* Adjust to lift it higher on the page */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1200;
    width: 50%;
}

.nav-search-results {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1200;
    width: 100%;
}
#nav-search-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Additional styles for the results */
.nav-search-result-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.nav-search-result-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.nav-search-result-item h3 {
    margin: 0;
    font-size: 16px;
}

.nav-search-result-item p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.nav-search-result-item:hover {
    background-color: #f0f0f0;
}
.highlight {
    font-weight: bold;
    color: orange;
}


 .clickable-artist {
    cursor: pointer;
}


 .clickable-artist:hover {
    text-decoration: underline;
}


.logo-container {
    position: absolute;
    top: 1rem;
    left: 20px;
    z-index: 1100;

}

.logo {
    font-size: 3em;
    color: #333;
    text-transform: uppercase;
    display: inline-block;
    line-height: 0.8;
}

.v, .a {
    font-size: 1.2em;
    font-weight: bold;
}

.v {
    color: #ff69b4;
}

.a {
    color: #1e90ff;
}
@media (min-width: 1314px){
    .mobile-welcome-container{
        display: none;
    }
}
@media (min-width: 1211px){
    .mobile-welcome-container{
        display: none;
    }
}
@media (min-width: 1033px){
    .mobile-welcome-container{
        display: none;
    }
}
@media (min-width: 883px){
    .mobile-welcome-container{
        display: none;
    }
}
@media (min-width: 768px){
    .mobile-welcome-container{
        display: none;
    }
}

@media (max-width: 1211px){
    .logo {
        font-size: 1.5em;
        height: auto;
    }
    .navbar ul li a, .navbar ul li button {
        font-size: 1em;
        padding: 10px 25px;
    }

}
@media (max-width: 1033px) {
    .logo {
        font-size: 0.9em;
    }
    .navbar ul li a, .navbar ul li button {
        font-size: 0.8em;
        padding: 5px 20px;
    }

}
@media (max-width: 883px){
    .logo {
        font-size: 0.8em;
        height: auto;
    }
    .logo-container {
        position: absolute;
        top: 0.5rem;
    }
    .navbar ul li a, .navbar ul li button {
        font-size: 0.6em;
        padding: 3px 18px;
    }


}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-end;
        padding: 10px;
        background-color: transparent;
        font-size: 2em;

    }

    .navbar ul {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar ul li {
        margin: 8px 0;
    }

    .navbar ul li a, .navbar ul li button {
        padding: 15px 20px; /* Reducerea dimensiunii butonului */
        background-color: transparent; /* Background transparent pentru butoane */
        width: auto; /* Butonul ocupă întreaga lățime */
        text-align: right; /* Aliniere text la dreapta */
    }

    .top-navbar {
        width: auto;
        background-color: transparent; /* O nuanță consistentă pentru navbar */
        position: static;
        margin-top: 2px;
    }

    .logo {
        font-size: 2.5em;
        background-color: rgba(150, 123, 88, 0.62);
    }


    .container {
        align-items: flex-end;
    }
    .welcome-container{
        display: none;
    }

    .mobile-welcome-container {
        position: absolute;
        top: 7em;
        left: 6em;
        margin-top: 1em;
    }

    .mobile-welcome-text {
        font-size: 3em;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        background: linear-gradient(to right, #ff7e5f, #feb47b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 20px;
        margin-top: 14px;
        border-radius: 10px;

    }

}

